// Fonts
$manrope: 'Manrope', 'Arial', sans-serif;

// Colors
$white: #fff;
$blue-white: #F2F7FF;
$purple-white: #F1E4FF;
$light-gray: #D9DBE1;
$light-blue: #75E3EA;
$blue: #2EC5CE;
$light-purple: #D6B1FF;
$purple: #8C30F5;
$dark-blue: #0B0D17;
$brown: #18191F;
$black: #000;