* {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: $manrope;

  &.no-scroll {
    overflow-y: hidden;
  }
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.downloads {
  display: flex;
  flex-wrap: wrap;

  &__item {
    &:not(:last-of-type) {
      margin-right: 12px;
    }
  }

  &__link {
    display: flex;
  }
}

.heading {
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 133%;
  color: $brown;
}

p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 178%;
  color: $brown;
}

.wrapper {
  max-width: 540px;
}