.testimonials-section {
  .container {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }

  .wrapper {
    align-items: flex-start;

    &:first-of-type {
      align-items: flex-end;
    }

    &:last-of-type {
      padding-top: 48px;
    }
  }
}

.testimonial-card {
  &_short {
    max-width: 350px;
  }
}